/* slick image slider */
.autoplay {
    height: 75vh;
    margin: 5% 0 12% 0;
    padding: 8% 0 6.5% 0;
}

.autoplay img {
    margin: 15px;
    height: 300px;
    width: 350px;
}

.slick-prev,
.slick-next,
.back-to-top  {
    background: #EDF5FC;
    border-radius: 5px;
    height: 40px;
    width: 20%;
    margin: 10px 40%;
}

/*.auto-play img {
    margin: 15px;
    height: 300px;
    width: 415px;
}*/
