.hero {
    height: 100vh;
    background-image: url('../images/house-moss.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
}

.darken-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    position: relative;
}

.hero-title-a {
    color: #fff;
    font-size: .7em;
    margin-top: 1em;
}

.hero-title-a img {
    height: 3em;
    vertical-align: baseline;
}

.hero-title-a h3,
.hero-title-a h2 {
    font-size: 2em;
}

.hero-title-a h3 {
    margin-left: 2em;
}

.hero-title-a span {
    padding: 0;
}

/* hero chevron */

#hero-chevron {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
}

#hero-chevron a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 35px;
    height: 35px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

#hero-chevron a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#hero-chevron a span:nth-of-type(2) {
    top: 20%;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

#hero-chevron a span:nth-of-type(3) {
    top: 40%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 820px) {
    .hero {
        background-image: url('../images/blue-house.jpg');
    }

    #hero-chevron {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #hero-chevron {
        display: none;
    }

    .hero {
        background-image: url('../images/porch.jpg');
        height: 15em;
        margin-bottom: 0;
    }

    .darken-overlay {
        height: 47vh;
    }

    .hero-title-a h3 {
        display: none;
    }

    .hero-title-a h2 {
        font-size: 1.75em;
    }

    .hero-title-a img {
        margin-left: 1em;
    }

    .hero-title-a span:nth-child(2) {
        font-size: .8em;
    }
}
