.monthly-blog {
    margin-top: 9em;
}

.blog-title header {
    font-size: 1em;
}

.blog-title {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 .7em .2em;
}

.blog-contents {
    display: flex;
    margin: 2em .5em 8em .5em
}

.blog {
    font-size: 1em;
    flex: 5;
}

.blog-image {
    background: url("../images/moving-pains.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex: 3;
    height: 50vh;
    margin-left: .5em;
}

@media screen and (max-width: 400px) {
  .blog-image {
    display: none;
  }

  .monthly-blog {
    padding: 1em;
  }

}
