span {
  padding-left: 1em;
}

a {
  color:#336699;
  /* background: none;
  background-color: #c9c094;
  border-bottom: 1px solid grey;
  display: block;
  height: 3.5em;
  padding: 15px 0 15px 0; */
}

header {
  width: 100%;
  display: inline-block;
  font-size: 12px;
}

.nav-title {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #E9D758;
  font-size: .8em;
  margin: 1.5em 0 1.5em 1.5em;
}

.nav-title a {
  color: #E9D758;
  font-size: 2.5em;
}

.nav-title a:hover {
  color: #c9c094;
}

.nav-title img {
  height: 3.5em;
  width: 4em;
  vertical-align: baseline;
}

.nav-title h3,
.nav-title h2 {
  font-size: 2.5em;
}

.nav-title h3 {
  margin-left: 2em;
}

.nav-title span {
  padding: 0;
  font-weight: bold;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 3rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: all .8s ease-out;
  z-index: 3;
}

.btn-line {
  border: .5px solid black;
}

.menu-btn .btn-line {
  width: 28px;
  height: 4px;
  margin: 0 0 5px 0;
  background: #E9D758;
  transition: all .8s ease-out;
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 6px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  background: #f1f1f1;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 6em;
  right: .5em;
  margin-right: 2.4em;
  opacity: 0;
  text-align: center;
  width: 75%;
  z-index: 1000000;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  background: none;
  display: block;
  padding: 15px 0 15px 0;
  background-color: #c9c094;
  border-bottom: 1px solid grey;
}

.menu li:hover {
  background: #E9D758;
  color: black;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 820px) {
  .menu ul a li {
    background-color: blue;
    color: #E9D758;
  }

  .menu-btn .btn-line:hover {
    background: blue;
  }
}

@media screen and (max-width: 688px) {
  .nav-title {
    display: none;
  }

}

@media screen and (max-width: 400px) {
  .menu ul a li {
    background-color: grey;
    overflow-y: scroll;
  }

  .menu-btn .btn-line:hover {
    background: grey;
  }
}
