.navbar {
  background-color: lightgrey!important;
  visibility: hidden;
}

.nav-link {
  color: #222;
}

.contact-button {
  background-color: lightgrey;
  border-radius: 5px;
  border-bottom: none;
  color: #222;
  height: 4em;
  padding: .5em;
  margin-top: .5em;
  transition: all .2s ease-in;
}

.contact-button:hover {
  background-color: #37c0fb;
  cursor: pointer;
}

.hero-title-b {
  display: flex;
  color: #222;
  font-size: .7em;
}

.hero-title-b img {
  height: 3em;
  vertical-align: baseline;
}

.hero-title-b h3,
.hero-title-b h2 {
  font-size: 1em;
  margin-right: 6em;
}

@media screen and (max-width: 400px) {
  #hero-chevron {
    display: none;
  }

  .hero {
    height: 9vh;
  }

  .navbar {
    visibility: visible;
  }
}
