
#footer {
    background-color: lightslategray;
    padding: 4em 0 1em 0;
}

#footer a {
    color: inherit;
    border-bottom-color: rgba(71, 71, 71, 0.25);
}

#footer a:hover {
    color: #37c0fb;
    border-bottom-color: transparent;
}

#footer .icons {
    text-align: center;
    margin: 0;
}

#footer .icons a {
    color: #999;
}

#footer .icons a:hover {
    color: #474747;
}

#footer .copyright {
    color: #999;
    margin-top: 3.5em;
    text-align: center;
    font-size: 0.9em;
}

.icon {
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon>.label {
    display: none;
}

.icon.major {
    text-align: center;
    cursor: default;
    background-color: #37c0fb;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("../images/bg01.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("../images/bg01.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("../images/bg01.png");
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    width: 5em;
    height: 5em;
    line-height: 5em;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    margin: 0 0 2em 0;
}

.icon.major:before {
    font-size: 36px;
}

.row {
  flex-wrap: nowrap;
}

.links {
  font-size: .9em;
  list-style-type: none;
  padding: 0;
}

.messsage-input,
.footer-contact-name,
.footer-contact-email {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .row {
    flex-wrap: wrap;
  }

  #footer {
    text-align: justify;
  }
}
