#footer {
    background-color: lightslategray;
    padding: 7em 0 3em 0;
}

#footer a {
    background: none;
    color: inherit;
    border-bottom: none;
    font-size: 1.2em;
    padding-bottom: .2em;
}

#footer a:hover {
    background: none;
    color: #E9D758;
    border-bottom-color: transparent;
    text-decoration: none;
}

#footer .icons {
    text-align: center;
    margin: 0;
}

#footer .icons a {
    color: #999;
}

#footer .icons a:hover {
    color: #474747;
}

#footer .copyright {
    color: #999;
    margin-top: 3.5em;
    text-align: center;
    font-size: 0.9em;
}

.helpful-links h3,
.things-to-do h3,
.contact h3 {
    font-size: 2em;
}

.helpful-links {
    margin-left: 1em;
}

.icon {
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon>.label {
    display: none;
}

.icon.major {
    text-align: center;
    cursor: default;
    background-color: #37c0fb;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("../images/bg01.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("../images/bg01.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("../images/bg01.png");
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    width: 5em;
    height: 5em;
    line-height: 5em;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    margin: 0 0 2em 0;
}

.icon.major:before {
    font-size: 36px;
}

.row {
  flex-wrap: nowrap;
}

.links {
  font-size: .9em;
  list-style-type: none;
  padding: 0;
}

.message-input,
.footer-contact-name,
.footer-contact-email {
  width: 100%;
  margin-bottom: 1em;
}

@media screen and (max-width: 650px) {
  #footer a:hover {
    color: blue;
  }

  .form-button:hover {
    background-color: blue;
  }

  .helpful-links,
  .things-to-do {
    margin-bottom: 3em;
  }

  .row {
    flex-wrap: wrap;
  }

  #footer {
    text-align: center;
  }
}
