.col-sm-8 {
    padding-right: 0;
}

.navBar-wrapper {
    width: 100%;
}

.image {
    background-image: url('../images/fleur-de-lis.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15em;
    margin-top: 5em;
}

.text-body {
    margin-top: 5em;
    height: 28em;
    background-color: #c9cbc8;
}

.text-body div {
    padding-top: 3em;
}
