.col-sm-8 {
    padding-right: 0;
}

.navBar-wrapper {
    width: 100%;
}

.image {
    background-image: url('../images/porch-swing.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 13.5em;
    width: 100%;
    margin-top: 6em;
}

video#grass-vid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
}

.text-body {
    margin-top: 5em;
    height: 28em;
}

.text-body div {
    padding-top: 3em;
}
